
@model EbookSite.Models.AdminViewModel

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@using (Html.BeginForm("ImportGutCatalogue", "Admin", FormMethod.Get)) {
    if (Model.GutenbergLoaderRunning) {
        <p>The Gutenberg Catalogue is currently being loaded.</p>
    } else {
        <input type="submit" value="Load Gutenberg Catalogue"/>
    }
}