@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Babbacombe Computers Ltd.<br />
    2 Queenswood Drive<br />
    Leeds
    <!-- <abbr title="Phone">P:</abbr>
    425.555.0100 -->
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:trev@babbacom.com">trev@babbacom.com</a><br />
</address>