@model EbookSite.Models.ReadBookViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Title</h2>

<p>
    <a href="@Html.Encode(Request.UrlReferrer.ToString())">Back</a>
</p>

<iframe id="iFrame" style="width:100%" src="@Model.Url"></iframe>

<p><a href="@Html.Encode(Request.UrlReferrer.ToString())">Back</a></p>

<script>
    $().ready(function () {
        $('#iFrame').height($(window).height() - 300);
    });


    $(window).resize(function () {
        $('#iFrame').height($(window).height() - 300);
    });
</script>